
.App {
  text-align: center;
}

.container {
  padding: 50px 0;
}

.bg-yellow {
  background-color: blanchedalmond;
}

.bg-gray {
  background-color: lightgray;
}

.title {
  font-family: LINESeedKR-Bd;
  font-size: 30px;
  margin-bottom: 15px;
  color: darkblue;
}